.Header {
    background-color: #1F2337;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* margin: 0; */
    color: azure;

}
.Body {
    background-color: azure;
    display: flex;
    justify-content: space-around;
}
.Body img{
    width: 100px;
    height: 100px;
}

.headerlogo {
    font-size: 48px;
    font-weight: 900;
    color: azure;
}

.headerpicture img{
width: 500px;
height: 300px;
padding-left: 60px;
}

.Hero {
    background-color: #1F2337;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-header {
    display: flex;
}

.headercontent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background-color: aliceblue; */
}

.headertitle {
    font-size: 24px;
    font-weight: 900;
    color:azure
}

.headerbutton {
        background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.right-header button {
        background-color: #1e90ff; /* Dodger Blue */
    color: white;
    border: none;
    padding: 12px 24px;

    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}